html {
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

.app-container {
    width: 100vw;
    max-width: 450px;
    margin: auto;
    height: 100vh;
    background-color: #E5E5E5;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.app-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}


header {
    background-color: #f00;
    height: 92px;
    width: 100%;
    max-width: 450px;
    position: fixed;
    margin: auto;
}

header h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 44px;
    color: #fff;
    margin: 0px 0px 6px 21px;
    padding-top: 12px;

}

header p {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-left:21px;
}



section:first-of-type {
    margin-top: 123px;
}

section {
    margin:31px 0px 0px 21px  
}

section h2 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 26px;
}

.options {
    width: 100%;
    margin-top: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.options::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 172px;
    padding: 18px 14px 14px 14px;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 5px 5px 10px -4px rgb(0 0 0 / 25%);
}

.selected-border {
    border: 5px solid #32B72F;
}

.item-container .img  {
    width: 114px;
    height: 86.81px;
    margin-bottom: 8px;
    background-image: url();
    background-position: center;
    background-size: cover;
}


.item-container h4 {
    font-weight: 700;
    font-size: 16px;
    
}

.item-container p {
    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
    margin: 12px 0px;
    line-height: 19px;
}

.item-container h3 {
    font-weight: 600;
    font-size: 16px;
}


section:last-of-type {
    margin-bottom: 103px;
}


.lower-bar {
    background-color: #fff;
    height: 92px;
    width: 100%;
    max-width: 450px;
    position: fixed;
    z-index: 2;
    margin: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-bar button {
    width: 364px;
    height: 61px;
    text-align: center;
    border-radius: 50px;
    background: #CBCBCB;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border: none;
}



.modal-container {
    position: fixed;
    width: 100%;
    max-width: 450px;
    height: calc(100% - 92px);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 95%;
    height: 353px;
    background-color: #50D074;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.modal h3 {
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    margin: 21px 0px 28px;
}


.modal .product-line {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.modal .product-line {
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    margin-bottom: 13px;
}

.modal .product-line.total {
    font-weight: 700;
}

.modal button {
    width: 329px;
    height: 52px;
    text-align: center;
    border-radius: 100px;
    background: #FFF;
    color: #50D074;
    font-size: 22px;
    font-weight: 700;
    border: none;
    margin-top: 11px;
    cursor: pointer;
}

.modal button.cancel {
    background: none;
    color: #fff;
    font-size: 20px;
}



.no-display {
    display: none;
}

